.subHeading {
    font-Weight: normal
}


.descriptionBox {
    background-color: white;
    width: 100%
}


.descriptionText {
    width: 55%
}


.descriptionButtonContainer {
    float: right
}


.descriptionButton {
    background-color: #3498db !important;
    color: white !important
}