.boldFontWeight {
  font-Weight: bold;
}

.publishButton {
  background: #0984e3;
  border-Radius: 5px;
}

.publishDraftText {
  font-Weight: normal;
  color: white;
  padding-Top: 10px;
  padding-Left: 5px;
  padding-Bottom: 10px;
  cursor: pointer;
}

.deleteDraftButton {
  font-Weight: normal;
  padding-Left: 5px;
  cursor: pointer;
}