.table {
  min-Width: 650;
  font-Size: 14px
}

.tableCell {
  width: 50%;
}

.viewDraft {
  color: #3498db;
  font-Weight: normal;
  cursor: pointer;
  margin-right: 10px !important;
}

.delete-icon{
  cursor: pointer;
}